* {
    background-color: rgb(241, 179, 189);
}

.link {
    font-size: 26px;
    font-weight: 800;
}

img {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(85, 19, 148);    
    text-align: center;
}


h2 {
    background-color: rgb(144, 243, 210);
}